

<nav >
  <div class="navBar">
   
    <ul style="height: 10%; background-color: white;" >
      
      <li  ><a href="#"  class="navBarTitle">Valencia al día</a></li>
      
     
    </ul>
    
      <ul style="height: 5%; background-color:#396EB0;">
        
        <li><a href="/#" >inicio</a></li>
        <li><a href="/nacional" >España</a></li>
        <li><a href="/deportes" >Deporte</a></li>
        <li><a href="/internacional" >Internacional</a></li>
        
      </ul>
    
    
  </div>
    
  </nav>
  
  