<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Felipe Zapata">
        <link rel="stylesheet" href="/css/style.css">
        <title>Actualidad Nacional</title>

        <style>

          @media (max-width: 1200px)  {
            .container {   
             margin-left: 0;
             margin-right: 0;
            }
            .navBar{
              width:100%;
            }
          }
          @media  (max-width: 800px)  {
            .modulo1, .modulo2, .modulo3, .modulo4 {   
            
             width: 100%;
             height: 70%;
            }
          }
         
          
          
         
          </style>
     
    </head>
  <body>


    <div class="background">
      <div class="container">
        <%- include("header"); -%>
        <%- include("noticiasNacional"); -%>
      </div>
      
    </div>
    <%- include("footer"); -%>
    

  </body>
</html> 
