
<div class= "mainPage" style="padding-top:150px;">

    <a class="link" href="/noticia/joe">
    <div class="modulo2">
        <div class="foto"><img class="image" src="/images/joe.jpg"/></div>
         <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
    </div>
    </a>

    <a class="link" href="/noticia/merkel">
    <div class="modulo2">
        <div class="foto"><img class="image" src="/images/merkel.jpg"/></div>
         <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
    </div>
    </a>

    <a class="link" href="/noticia/xijiping">
    <div class="modulo2">
        <div class="foto"><img class="image" src="/images/xijiping.jpg"/></div>
         <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
    </div>
    </a>

    <a class="link" href="url">
        <div class="modulo1" style="background-color: white; text-align: left; ">
            <div class="titulo1">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
        </div>
        </a>


</div>

<div class= "mainPage">

    <a class="link" href="/noticia/elon">
    <div class="modulo3">
        <div class="foto"><img class="image" src="/images/elon.jpg"/></div>
         <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
     </div>
    </a>

    <a class="link" href="/noticia/amazon">
    <div class="modulo4">
         <div class="foto"><img class="image" src="/images/amazon.jpg"/></div>
         <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
    </div>
    </a>

    <a class="link" href="/noticia/manifestacion">
        <div class="modulo4">
            <div class="foto"><img class="image" src="/images/manifestacion.jpg"/></div>
            <div class="titulo">Uno de los 'líderes' de los antivacunas de Italia contrae COVID-19 y pide desde el hospital "seguir la ciencia"</div>
        </div>
        </a>
 
</div>
